<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000736909434-2rrpfat5usqqudekt3kl4dm5si9bse9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000736909434-2rrpfat5usqqudekt3kl4dm5si9bse9l</string>
	<key>API_KEY</key>
	<string>AIzaSyDXe30gWdebPS5hdqmPDAF3FVDkg1PHSU8</string>
	<key>GCM_SENDER_ID</key>
	<string>1000736909434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rewardz</string>
	<key>PROJECT_ID</key>
	<string>merchant-pmck</string>
	<key>STORAGE_BUCKET</key>
	<string>merchant-pmck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000736909434:ios:0096f1c9d816e02d78f3c3</string>
</dict>
</plist>